streamlit                   # framework principal
requests                    # para llamadas HTTP (webhook, Lottie, etc.)
firebase-admin              # SDK Admin para Firestore y Storage
python-dotenv               # carga de variables de entorno (opcional)
qrcode                      # generación de códigos QR
opencv-python               # escaneo de QR usando OpenCV
pillow                      # manejo de imágenes, requerido por qrcode y OpenCV
pandas                      # manejo tabular y creación de DataFrame
openpyxl                    # motor xlsx para df.to_excel
xlsxwriter                  # alternativa/soporte extra para exportar Excel
streamlit-lottie            # para mostrar animaciones Lottie
streamlit-qrcode-scanner    # módulo integrado alternativo de escaneo de QR
pyngrok                     # creación de túneles ngrok